*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*--------------------Header_Section----------------------*/

#header{
    height: 100vh;
    background-image: url('./images/background.png');
    background-position: center;
    background-size: cover;
}

.container{
    margin-right: 100px;
    margin-left: 100px;
}

.logo{
    margin-top: 30px;
    width: 100px;
}

.header-text{
    max-width: 350px;
    margin-top: 20px;
}

.header-text p{
    text-align: justify;
}

h1{
    font-size: 34px;
}

.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}

.common-btn{
    padding: 18px 40px;
    background: #f67c92;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid black;
}

.common-btn:hover{
    transition: all 0.4s ease;
    background: yellow;
}

p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}

.line{
     line-height: 8px;    
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 3;
    transition: all 0.2s ease;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 3;
    cursor: pointer;
}

/*------------x-------Header_Section-----------x----------*/


/*------------------About_Section----------------------*/

#about, #offer, #course-details{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col{
    flex-basis: 50%;
}

.about-left-col img{
    width: 100%;
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
    text-align: justify;
}

.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}

.about-text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}

#more{
    display: none;
}

#myBtn{
    padding: 10px 10px;
    background: #f67c92;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid black;
    margin: 10px 0;
}

/*----------x-------About_Section-----------x----------*/


/*------------------Visionaries_Section----------------------*/

.carousel {
  background-color: white;
  z-index: 2;
  border-radius: 20px; 
}

.visionaries-h1{
    width: 100%;
    margin-bottom: 2.5rem;
    text-align: center
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  border-radius: 20px;
}

.carousel.is-fullscreen .carousel-cell img{
  height: 100%;
}

.carousel-cell img {
  display: block;
  height: 200px;
  border-radius: 20px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

/*----------x-------Visionaries_Section-----------x----------*/


/*------------------Features_Section----------------------*/

#features{
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-h1{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-col{
    flex-basis: 25%;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 20px 10px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 15px #777;
}

.feature-col:hover{
    transform: translateY(-20px);
}

.feature-col img{
    width: 100px;
}

.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.feature-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

/*----------x-------Features_Section------------x---------*/


/*------------------Courses_Section----------------------*/

#courses{
    padding: 100px 0;
}

.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-right-col{
    flex-basis: 50%;
}

.course-right-col img{
    width: 100%;
}

.course-left-col{
    flex-basis: 50%;
}

.course-text{
    max-width: 350px;
}

.course-text button{
    margin: 5px 0;
}

.course-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}

.course-text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}

/*----------x-------Courses_Section-----------x----------*/


/*------------------FAQs_Section----------------------*/

#offer button{
    margin: 5px 0;
}

/*----------x-------FAQs_Section------------x----------*/


/*------------------QnA_Section----------------------*/


.accordian{
    background-color: #f67c92;
    padding: 18px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: 2px solid #777;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;
    margin: 5px 0;
    color: black;
}

.accordian:after {
    content: '\02795';
    color: black;
    font-size: 11px;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2796";
}

.hee{
    text-align: left;
}

.active, .accordian:hover{
    background-color: yellow;
}

.panel{
    padding: 0 18px;
    background-color: lightcyan;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease;
    border-radius: 10px;
    text-align: justify;
}

.panel p{
    color: darkcyan;
}


/*----------x-------QnA_Section------------x----------*/


/*------------------Contact_Section----------------------*/

.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col, .contact-right-col{
    flex-basis: 50%;
}

.contact-right-col img{
    width: 100%;
}

form{
    max-width: 350px;
    margin: 30px 0;
}

form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
}

.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
    margin-right: 1.15px;
}

/*---------x--------Contact_Section-----------x---------*/


/*---------x--------Footer_Section-----------x---------*/

#footer{
    padding: 50px 0 30px;
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35%;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}

.link-title small{
    font-size: 13px;
    color: #777;
}

.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img{
    margin-top: 30px;
    width: 100px;
}

.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 12px;
}

.copyright-text, .footer-logo{
    flex-basis: 40%;
}

.copyright-text small{
    font-size: 13px;
    font-weight: bolder;
    color: #777;
}

/*---------x--------Footer_Section-----------x---------*/


/*---------x--------SocialMedia_Section-----------x---------*/

.social-icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.social-icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

/*---------x--------SocialMedia_Section-----------x---------*/



/*---------x--------MediaQueries_Section-----------x---------*/

@media only screen and (max-width: 767px) {
#header{
    background: none;
    }
    
.container{
    margin-right: 50px;
    margin-left: 50px;
    }

.logo{
    margin-top: 27px;
    width: 70px;
    }

.header-text{
    margin-top: 80px;
    }

h1{
    font-size: 25px;
    }
    
#menuBtn{
    width: 40px;
    right: 50px;
    } 
    
.common-btn{
    padding: 10px 16px;
    }  
    
.social-icons img{
    width: 14px;
    margin: 15px auto;
    }
    
.about-left-col, .about-right-col{
    flex-basis: 100%;
    }
    
.about-text{
    margin: 50px 50px 0;
    display: inline-block;
    }

.about-text h2{
    font-size: 18px;
    }
    
.feature-col{
    flex-basis: 100%;
    margin: 2rem 0;
    }    

.course-left-col{
    flex-basis: 100%;
    }
    
.course-text h2{
    font-size: 18px;
}

.course-right-col{
    flex-basis: 100%;
    margin-top: 70px;
    }
    
.contact-left-col, .contact-right-col{
    flex-basis: 100%;
    }
    
.contact-right-col{
    margin-top: 50px;    
    }
    
    
.btn-box button{
    flex-basis: 48%;
    padding: 12px 0;
    }
    
.footer-left-col, .footer-right-col{
    flex-basis: 100%;
    }
    
.link-title{
    flex-basis: 50%;
    margin-bottom: 30px;
    } 
    
}

/*---------x--------MediaQueries_Section-----------x---------*/
